@import url("file:///home/shahin/.dotfiles/themes/current/swaync.css");

* {
  color: var(--text-color);
}

.control-center,
.notification,
.notification-default-action,
.notification-action,
.notification-content,
.text-box,
.widget {
  color: var(--text-color);
}

.notification label,
.notification image,
.notification .summary,
.notification .time,
.notification .body,
.notification-group label,
.widget label,
.widget button,
.close-button {
  color: var(--text-color);
}

button:disabled,
.notification-action:disabled,
.notification-default-action:disabled {
  color: var(--text-color-disabled);
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 10px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content {
  padding: 10px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .image {
  margin-right: 20px;
}
