@import url("file:///home/shahin/.dotfiles/themes/current/waybar.css");

* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMonoNL Nerd Font, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    min-height: 0;
    color: @fg;
}

window#waybar {
    background: none;
}

tooltip {
  background: @tooltip-bg;
  border: 1px solid @tooltip-border;
}

tooltip label {
  color: @fg-strong;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: @fg-strong;
    border-bottom: 3px solid transparent;
}

#clock {
}

#battery {
}

#battery.charging {
    color: @fg-invert;
    background-color: @charging;
}

@keyframes blink {
    to {
        background-color: #330000;
        color: white;
    }
}

#battery.warning:not(.charging) {
    background: @warning;
    color: @fg-invert;
}

#battery.critical:not(.charging) {
    background: @critical;
    color: @fg-invert;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: steps(24);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
  border: 1px solid rgba(255, 0, 0, 0.5);
}

#memory.critical {
    background: @critical;
    color: @fg-invert;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: steps(24);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label.module, #tray, #workspaces {
  padding: 0.5rem 1rem;
  background: @module-bg;
  border-radius: 10px;
}

#workspaces {
  padding: 0.5rem;
}

#workspaces button.active label {
  font-weight: bold;
  color: @fg-strong;
}

#workspaces button.urgent label {
  color: @critical;
}

#custom-notifications,
#custom-awake {
  min-width: 44px;
  padding-left: 0;
  padding-right: 0;
  color: @fg;
}

#custom-awake {
  min-width: 44px;
  padding-left: 0;
}

#custom-notifications.muted {
  color: @critical;
}

#custom-awake.active {
  color: @charging;
}

#workspaces button label {
  transition: all 250ms ease-in-out;
}

#workspaces button:hover label {
  color: @fg-strong;
}

label:hover {
  color: @fg-strong;
  transition: all 250ms ease-in-out;
}

.modules-left,
.modules-center,
.modules-right {
  margin: 5px 10px 0px 10px;
}
